
/*

Unités de tailles en CSS (en web)

Unités les plus souvent utilisées en web

px      =>  pixel il est possible de mesure avec des virgules, 23.8px)
em      =>  cadratin. Historiquement unité de mesure en print sur les presses.
            Le cadratin se calcul par rapport à la taille du parent
rem     =>  cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
            - soit celle du navigateur 
            - soit celle surchargée dans le :root
%       =>  La taille définie en % se calcule par rapport à l'espace disponible autour de l'élément définie en %
vw & vh =>  vw : viewport width (largeur de la surface d'affichage de l'appareil)
            vh : viewport height ( hauteur d'affichage du l'appareil)
            50vh => 50% de la taille d'affichage du l'appareil
            si la largeur d'affichage du site 360px (100vw)
            50vw = 180px

*/

/* déclarations générales */
/* Emplacement du root : déclarations de surcharge de la feuille de style user agent */
:root{
    font-family: Arial, Helvetica, sans-serif;
    /* il est possible d'utiliser ce qu'on appel des variables en css */
    --base-font-size: 1.2rem; /* sur chrome, 1rem de base c'est 16px, avec cette déclaration, je change le rem de base => (20%16px) => 19.2px */
    font-size: var(--base-font-size);
    --line-height: 1.6rem;
    line-height: var(--line-height);
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

/* déclarations classes et id */
#exemple-de-tableau,
#tableau-simple {
  border-collapse: collapse;
}

#exemple-de-tableau td,
#exemple-de-tableau th,
#tableau-simple td,
#tableau-simple th {
  border: 1px solid black;
}

.danger {
  color: darkorange;
  font-family: Impact;
  background-color: black;
}

.go-top{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    border-radius: 1.5rem;
    /*
    padding-top: 1em;
    padding-right: 0.5em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    */
}

.go-top a{
    color: darkorange;
    padding: 0.5rem 1rem;
    display: block;
}

/* déclarations de structure */

/* Déclaration CSS adaptatifs avec les media queries */